<nav id="mainNav" class="navbar navbar-expand-lg bg-light fixed-top">
    <a class="navbar-brand page-scroll" href="/#page-top">Richard Tuttle | Coder</a>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#tech">Technologies</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{ site.post_url }}">Blog</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
