<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A Consumate Professional At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-gem wow bounceIn text-primary"></i>
                    <h3>Experienced</h3>
                    <p class="text-muted">With over 20 years of professional experience and knowledge of numerous technologies, I can easily help you and your project come to full fruition and on budget.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>On Time</h3>
                    <p class="text-muted">Time management is a key to any professional project and I always strive to complete all aspects in the time alloted.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-newspaper wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Knowledgeable</h3>
                    <p class="text-muted">With several decades of experience and a constant desire to continue learning new aspects, my knowledge-base is constantly growing and expanding. All a benefit to any project and company.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Professional</h3>
                    <p class="text-muted">Always a professional but caring.</p>
                </div>
            </div>
        </div>
    </div>
</section>
